face-recognition-models==0.*.*
Flask==1.*.*
gTTS==2.*.*
gTTS-token==1.*.*
numpy==1.*.*
Pillow==6.*.*
PyAudio==0.*.*
pygame==1.*.*
pyparsing==2.*.*
python-dateutil==2.*.*
pytz==2019.*
requests==2.*.*
requests-oauthlib==1.*.*
responses==0.*.*
soupsieve==1.*.*
SpeechRecognition==3.*.*
timeloop==1.*.*
xlwt==1.*.*
